* {
    box-sizing: border-box;
    margin: 0;
    
}

nav {
    height : 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7bb9ce;
    color : white;
    padding-inline: 30px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 10px;
}

section {
    padding: 20px;
    min-height: 100vh;
    margin: auto;
    max-width: 1000px;
}

.user {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 20px;
    justify-items: center;
    margin: 20px; 
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.delete-button {
    background-color: rgb(246, 51, 51);
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.profile-button {
    background-color: #4c9db7;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.profile-button a {
    color: white;
    text-decoration: none;
}

.new-user-btn {
     background-color: #51d961;
     border: none;
     padding: 10px;
     border-radius: 12px;
}

.new-user-btn  a {
    color: rgb(29, 25, 25);
    text-decoration: none;
    font-size: 1.3em;
}

.new-user-form , .login-form , .user-card{
    font-size: 1.2em;
    width: 450px;
    margin: auto;
    padding: 40px;
}


.new-user-form div , .login-form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px ;
    
}

 .user-card div {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px;
    margin-bottom: 10px ;
    width: 100%;
 }

.register-btn , .login-btn {
    width: 100%;
    padding: 8px;
    background-color: #51d961;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}